@using Gamemania.Models;
@model BestellingModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h2>Bestelling</h2>
    Productnaam: @Model.Producten.Naam
    Prijs: @Model.Producten.Prijs
    Land: @Model.Adres.Land
    Plaatsnaam: @Model.Adres.Plaatsnaam
    Straatnaam: @Model.Adres.Straatnaam
    Postcode: @Model.Adres.Postcode
    Huisnummer: @Model.Adres.Huisnummer @Model.Adres.Toevoeging



</div>
